@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap");

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    font-family: "Red Hat Text", sans-serif;
}

button {
    border: none;
    font-family: "Red Hat Text", sans-serif;
    font-size: 15px;
}

#header {
    background-color: black;
    display: grid;
    grid-template-rows: auto auto;
    justify-items: center;
    padding-bottom: 25px;
}

h1 {
    color: white;
    font-size: 50px;
    padding-bottom: 5px;
    text-align: center;
}

#newbtn {
    background-color: gray;
    color: white;
    font-size: 18px;
    padding: 8px 30px;
}

#playerinfo {
    background-color: gray;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    justify-content: center;
    margin: auto;
    padding: 15px;
}

#currentplayer {
    display: grid;
    font-size: 25px;
    grid-area: 1 / 1 / 2 / 3;
    justify-content: center;
}

input {
    border: 0;
    height: 22px;
}

input:focus {
    outline: 1px solid black;
}

#xplayer {
    align-items: center;
    display: grid;
    font-size: 18px;
    gap: 5px;
    grid-area: 2 / 1 / 3 / 2;
    grid-template-columns: auto auto auto;
    margin-right: 15px;
    padding: 10px;
}

#oplayer {
    align-items: center;
    display: grid;
    font-size: 18px;
    gap: 5px;
    grid-area: 2 / 2 / 3 / 3;
    grid-template-columns: auto auto auto;
    justify-content: center;
    margin-left: 15px;
    padding: 10px;
}

.xsubmitbtn, .osubmitbtn {
    background-color: black;
    color: white;
    padding: 1px 10px;
}

.xsubmitbtn:disabled, .osubmitbtn:disabled {
    color: white;
    opacity: 30%;
    padding: 1px 10px;
}

#gamecontainer {
    height: 400px;
    margin: auto;
    padding: 35px;
    width: 600px;
}

#creategamebtn {
    background-color: black;
    color: white;
    font-size: 18px;
    margin-left: 35%;
    margin-right: 35%;
    padding: 10px 10px;
    width: 30%;
}

#gameboard {
    align-content: center;
    background-color: white;
    display: grid;
    gap: 3px;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    height: 330px;
    justify-content: center;
    margin: auto;
    width: 330px;
}

.gamesquare {
    align-items: center;
    background-color: gray;
    display: grid;
    justify-content: center;
    font-size: 40px;
}

.winnerdiv {
    font-size: 60px;
    padding-bottom: 30px;
    padding-top: 30px;
    text-align: center;
}